@import '@styles/vars';

.hide-checked {
    display: flex;
    align-items: center;
    min-height: 56px;
    margin-right: 20px;
    .checkbox,
    .label {
        transition: all ease 0.2s;
    }
}
